<div class="flex flex-column h-full">
  <h3 class="mt-0">Comprobantes de Pago</h3>

  <p-table [value]="comprobantes()" styleClass="p-datatable-sm mb-3">
    <ng-template #header>
      <tr>
        <th>Archivo</th>
        <th>Fecha Subida</th>
        <th class="text-center">Acciones</th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr>
        <td>{{ item.fileName }}</td>
        <td>{{ item.uploadDate | date: "short" }}</td>
        <td class="text-center">
          <div class="flex justify-content-center">
            <custom-button
              iconClass="mdi:eye-outline"
              [border-round]="true"
              [text]="true"
              (clicked)="viewFile(item.filePath, item.fileName)"
            />
            <custom-button-delete
              (confirmed)="onDelete(item.id)"
            ></custom-button-delete>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td colspan="3" class="text-center p-4">
          No hay comprobantes cargados.
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div class="mb-4">
    <label class="block mb-2 font-bold">Subir Nuevo Comprobante</label>
    <custom-input-file-signal
      (fileSelected)="onFileChange($event)"
      [horizontal]="false"
    ></custom-input-file-signal>
  </div>

  <div class="flex justify-content-end mt-3">
    <custom-button
      label="Cerrar"
      iconClass="mdi:close"
      severity="secondary"
      (clicked)="close()"
    />
    <custom-button
      label="Subir"
      iconClass="mdi:upload"
      severity="primary"
      (clicked)="onAdd()"
      [disabled]="!file || submitting()"
    />
  </div>
</div>
