<lux-data-view-mobile
  [data]="items()"
  (add)="add.emit()"
>
  <ng-template #listItemTemplate let-item>
    <lux-list-item-mobile>
      <div
        start
        class="d-flex align-items-center justify-content-center flex-shrink-0 ms-3 me-2 rounded-lg w-3rem h-3rem bg-primary-50"
      >
        <lux-icon
          icon="material-symbols-light:description"
          class="text-xl text-primary"
        />
      </div>

      <h5 class="mb-2">{{ item.title }}</h5>
      <app-status-badge
        [value]="item.priority"
        [status]="getPriorityDisplay(item.priority).text"
        [severity]="getPriorityDisplay(item.priority).severity"
      />
      <p class="text-sm text-body-secondary mt-2">
        {{ formatRecurrenceRule(item.recurrenceRule) }}
      </p>

      <lux-action-menu-mobile slot="end">
        <ng-container actions>
          <lux-button-mobile
            kind="edit"
            (clicked)="edit.emit(item)"
          />
          <lux-button-mobile
            kind="delete"
            color="danger"
            (clicked)="delete.emit(item.id)"
          />
        </ng-container>
      </lux-action-menu-mobile>
    </lux-list-item-mobile>
  </ng-template>
</lux-data-view-mobile>
