<custom-button
  iconClass="pi pi-clipboard"
  label="DATOS PRINCIPALES"
  (clicked)="onModalOrdenCompra()"
  [disabled]="false"
  customClass="w-full"
  size="small"
  [showLabelOnDesktop]="true"
/>
<!-- [disabled]="bloqueada" -->
<!--  -->

<div class="card p-2 border border-surface-200">
  <div class="mb-1 flex">
    <div class="text-color-secondary text-sm font-medium table-col-40">
      Folio:
    </div>
    <div class="text-color-secondary text-sm flex-grow-1">{{ ordenCompra.folio }}</div>
  </div>

  <!-- <div class="mb-1 flex">
    <div class="text-color-secondary text-sm font-medium table-col-40">Id Fondeo:</div>
    <div class="text-color-secondary text-sm flex-grow-1">{{ ordenCompra.idFondeo }}</div>
  </div> -->

  @if (ordenCompra.folioSolicitudCompra) {
  <div class="mb-1 flex">
    <div class="text-color-secondary text-sm font-medium table-col-40">
      Solicitud Compra:
    </div>
    <div class="flex-grow-1">
      <a [routerLink]="['/purchases/solicitud-compra/', solicitudCompraId]">
        {{ ordenCompra.folioSolicitudCompra }}
      </a>
    </div>
  </div>
  }

  <div class="mb-1 flex">
    <div class="text-color-secondary text-sm font-medium table-col-40">
      Fecha:
    </div>
    <div class="text-color-secondary text-sm flex-grow-1">
      {{ ordenCompra.fechaSolicitud }}
    </div>
  </div>

  <div class="mb-1 flex">
    <div class="text-color-secondary text-sm font-medium table-col-40">
      Area:
    </div>
    <div class="text-color-secondary text-sm flex-grow-1">
      {{ ordenCompra.equipoOInstalacion }}
    </div>
  </div>

  <div class="mb-1 flex">
    <div class="text-color-secondary text-sm font-medium table-col-40">
      Justificación:
    </div>
    <div class="text-color-secondary text-sm flex-grow-1 text-justify">
      {{ ordenCompra.justificacionGasto }}
    </div>
  </div>
  @if (ordenCompra.notasEspeciales) {
  <div class="mb-1 flex">
    <div class="text-color-secondary text-sm font-medium table-col-40">
      Notas Especiales:
    </div>
    <div class="text-color-secondary text-sm flex-grow-1 text-justify">
      {{ ordenCompra.notasEspeciales }}
    </div>
  </div>
  }
</div>







