<div class="card">
  <div class="card-header">
    <h3>Revisión de Solicitud de Alta</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <custom-input-text-signal
        [control]="form.controls.folio"
        label="Folio:"
        placeholder="Folio:"
        readonly
      />
      <custom-input-text-signal
        [control]="form.controls.employeeName"
        label="Candidato:"
        placeholder="Candidato:"
        readonly
      />

      <custom-input-select-signal
        label="Estatus"
        [control]="form.controls.status"
        [data]="statusOptions()"
        placeholder="Seleccione un estatus"
        [showClear]="true"
        [filter]="true"
      />
      <il-button-save
        [propertyId]="id"
        [disabled]="form.invalid"
        [submitting]="submitting()"
      />
    </form>
  </div>
</div>
