<div class="card">
  <div class="card-header">
    <h3 class="card-title">Plantillas de Tareas Recurrentes</h3>
  </div>
  <div class="card-body">
    @if (platformS.isMobile()) {
    <app-task-template-list-mobile
      [data]="data()"
      [state]="state()"
      (add)="showForm()"
      (manageItems)="onManageItems($event)"
      (edit)="showForm($event)"
      (delete)="onDelete($event)"
      (changeState)="onChangeState($event)"
    />
    } @else {
    <app-task-template-list-desktop
      [data]="data()"
      [loading]="loading()"
      [state]="state()"
      (add)="showForm()"
      (manageItems)="onManageItems($event)"
      (edit)="showForm($event)"
      (delete)="onDelete($event)"
      (changeState)="onChangeState($event)"
    />
    }
  </div>
</div>
