<lux-table
  #dt
  [globalFilterFields]="globalFilterFields()"
  [loading]="loading()"
  [paginator]="true"
  [rows]="tableRows"
  [rowsPerPageOptions]="rowsPerPageOptions"
  [scrollable]="true"
  [scrollHeight]="scrollHeight()"
  [showCurrentPageReport]="true"
  [value]="data()"
  class="custom-table card"
>
  <ng-template #caption>
    <lux-table-caption
      [showAdd]="true"
      [dt]="dt"
      label="Nuevo secreto"
      (add)="add.emit()"
    />
  </ng-template>

  <ng-template #header>
    <tr>
      <th appSortableColumn="secretName">
        Nombre
        <app-sorticon field="secretName" />
      </th>
      <th appSortableColumn="secretType">
        Tipo
        <app-sorticon field="secretType" />
      </th>
      <th appSortableColumn="keyVersion">
        Version
        <app-sorticon field="keyVersion" />
      </th>
      <th appSortableColumn="accessCount">
        Accesos
        <app-sorticon field="accessCount" />
      </th>
      <th appSortableColumn="lastAccessedAt">
        Ultimo acceso
        <app-sorticon field="lastAccessedAt" />
      </th>
      <th appSortableColumn="isRevoked">
        Estado
        <app-sorticon field="isRevoked" />
      </th>
      <th class="table-col-5"></th>
    </tr>
  </ng-template>

  <ng-template #body let-item>
    <tr>
      <td>{{ item.secretName }}</td>
      <td>{{ item.secretType }}</td>
      <td>{{ item.keyVersion }}</td>
      <td>{{ item.accessCount }}</td>
      <td>{{ item.lastAccessedAt | apiDate: "short" }}</td>
      <td>
        @if (item.isRevoked) {
        <span class="badge bg-danger">Revocado</span>
        } @else {
        <span class="badge bg-success">Activo</span>
        }
      </td>
      <td class="no-print">
        <div class="d-flex gap-1">
          @if (!item.isRevoked) {
          <iw-button-edit (clicked)="edit.emit(item)" />
          <lux-button-web
            kind="custom"
            displayMode="both"
            label="Rotar"
            iconClass="material-symbols-light:lock-reset"
            severity="warning"
            (clicked)="rotate.emit(item.secretName)"
          />
          <iw-button-delete (confirmed)="revoke.emit(item.secretName)" />
          }
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <lux-table-empty-message [colspan]="7" />
  </ng-template>
  <ng-template #paginatorleft>
    <lux-table-footer [data]="data()" />
  </ng-template>
</lux-table>
