<div class="row g-4">
  <div class="col-12 col-md-3">
    <div class="mb-3">
      <label for="systemSelect">Sistema</label>
      <custom-input-select-signal
        [data]="systemOptions()"
        optionLabel="system"
        optionValue="system"
        placeholder="Mostrar todos"
        (selectionChange)="onFilterForSystem($event.value)"
        [id]="'systemSelect'"
      />
    </div>
  </div>
</div>
<hr />
@for (system of filteredDataSignal(); track system) {
<div>
  <div class="bg-body-tertiary p-3 rounded mb-3">{{ system.system }}</div>
  <div class="row g-4">
    @for (itemUbication of system.ubications; track itemUbication) {
    <div class="col-12 col-md-12">
      <div class="card" class="p-2 mb-3">
        <ng-template #header #headerUbication>
          <div class="text-xl fw-bold">{{ itemUbication.ubication }}</div>
        </ng-template>
        <div class="row g-4">
          @for (item of itemUbication.items; track item) {
          <div class="col-12">
            <div class="card" class="h-full">
              <ng-template #header #headerItem>
                <div class="card-img-container">
                  <img class="w-full" [src]="item.photoPath" alt="image" />
                </div>
              </ng-template>
              <div class="card-body text-center">
                <h4 class="text-lg fw-bold">{{ item.nameMachinery }}</h4>
                <div class="d-flex justify-content-center">
                  <iw-button
                    lxTooltip="Servicios calendarizados"
                    class="btn btn-outline-primary btn-sm"
                    iconClass="material-symbols-light:calendar-today"
                    (clicked)="showModalListOrderService(item.id)"
                  />
                  <iw-button
                    lxTooltip="Historico de servicios"
                    class="btn btn-outline-primary btn-sm"
                    iconClass="material-symbols-light:palette"
                    (clicked)="onServiceHistory(item.id)"
                  />
                  <iw-button
                    lxTooltip="Bitacora"
                    class="btn btn-outline-warning btn-sm"
                    iconClass="material-symbols-light:book"
                    (clicked)="onBitacoraIndividual(item.id)"
                  />
                  <iw-button
                    lxTooltip="Ficha tócnica"
                    class="btn btn-outline-primary btn-sm"
                    iconClass="material-symbols-light:book"
                    (clicked)="showModalFichatecnica(item)"
                  />
                  <iw-button
                    iconClass="material-symbols-light:edit"
                    class="btn btn-outline-secondary btn-sm"
                    lxTooltip="Editar"
                    (clicked)="
                            onModalForm({
                              id: item.id,
                              title: 'Editar regitro ' + item.id,
                              inventoryCategoryId: 1,
                            })
                          "
                  />
                </div>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
    }
  </div>
</div>
}
<!-- ? Cerrar @for de systems -->


