<div class="h-screen w-screen overflow-hidden">
  <ion-app>
    <div class="ion-page h-full flex flex-column">
      <ion-header class="ion-no-border">
        <ion-toolbar class="ion-no-padding">
          <ion-buttons slot="start">
            <ion-button (click)="onBack()">
              <app-icon icon="mdi:chevron-left" slot="icon-only" />
            </ion-button>
          </ion-buttons>

          <div class="flex justify-content-center align-items-center w-full">
            <app-customer-header-data-committee />
          </div>

          <ion-buttons slot="end">
            <app-profile-committee-monitor />
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content [scrollY]="true" [fullscreen]="true" class="flex-flex-grow-1-1 relative">
        <div
          class="page-body-wrapper"
          [class.scorlled]="hideScroolNavService.headerFixed == true"
        >
          <div class="pb-4">
            <router-outlet />
          </div>
        </div>
        <lx-loader />
      </ion-content>
    </div>
  </ion-app>
</div>
