@if (dataSignal()) { @if (platformS.isMobile()) {
<app-asunto-legal-lista-mobile
  [data]="dataSignal()"
  [globalFilterFields]="globalFilterFields()"
  (add)="onModalForm({ id: '', title: 'Nuevo Registro' })"
  (edit)="onModalForm($event)"
  (delete)="onDelete($event)"
  (categoryForm)="onModalEditCategorie($event)"
  (categoryDelete)="onDeleteCategorie($event)"
/>
} @else {
<app-asunto-legal-lista-desktop
  [data]="dataSignal()"
  [globalFilterFields]="globalFilterFields()"
  (add)="onModalForm({ id: '', title: 'Nuevo Registro' })"
  (edit)="onModalForm($event)"
  (delete)="onDelete($event)"
  (categoryForm)="onModalEditCategorie($event)"
  (categoryDelete)="onDeleteCategorie($event)"
/>
} }
