<app-table
  [globalFilterFields]="globalFilterFields()"
  [paginator]="true"
  [rows]="tableRows"
  [rowsPerPageOptions]="rowsPerPageOptions"
  [showCurrentPageReport]="true"
  [value]="dataSignal()"
  #dt
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
  class="custom-table card d-none d-md-block"
>
  <ng-template #caption>
    <div
      class="d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-between mt-1 g-4"
    >
      <div class="w-full md:w-auto"></div>
      <div
        class="d-flex flex-wrap align-items-start align-items-md-center w-full md:w-auto justify-content-start justify-content-md-end gap-2"
      >
        <app-table-caption
          (add)="onModalCreate()"
          [dt]="dt"
          [showAdd]="false"
        />
        <il-button
          (clicked)="onFaqsFondeo()"
          iconClass="material-symbols-light:help"
          label="Ayuda"
          variant="outline"
        />
      </div>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th class="table-col-17" appSortableColumn="period">
        Periodo
        <app-sorticon field="period" />
      </th>
      <!-- <th class="table-col-20">Genero</th> -->
      <th class="table-col-20">Realizo</th>
      <th class="table-col-20">Autorizo</th>
      <th class="table-col-20">Contabilidad</th>
      <th class="table-col-3 no-print"></th>
    </tr>
  </ng-template>
  <ng-template #body let-item>
    <tr (click)="onDetails(item.id)">
      <td>
        <p class="text-lg m-0 text-body-secondary">{{ item.period | uppercase}}</p>
      </td>
      <td>
        <p class="text-sm fw-semibold m-0 d-flex align-items-center">
          @if (item.verifiedByName) {
          <span class="text-xl me-2">✅</span>
          <span>{{ item.verifiedByName }} {{ item.verifiedAt }}</span>
          } @else {
          <span class="text-xl me-2">⏳</span>
          <span class="text-body-secondary font-normal">En espera</span>
          }
        </p>
      </td>

      <td>
        <p class="text-sm fw-semibold m-0 d-flex align-items-center">
          @if (item.authorizedByName) {
          <span class="text-xl me-2">🛡️</span>
          <span>{{ item.authorizedByName }} {{ item.authorizedAt }}</span>
          } @else {
          <span class="text-xl me-2">⏳</span>
          <span class="text-body-secondary font-normal">En espera</span>
          }
        </p>
      </td>

      <td>
        <p class="text-sm fw-semibold m-0 d-flex align-items-center">
          @if (item.confirmedByName) {
          <span class="text-xl me-2">💰</span>
          <span>{{ item.confirmedByName }} {{ item.confirmedAt }}</span>
          } @else {
          <span class="text-xl me-2">⏳</span>
          <span class="text-body-secondary font-normal">En espera</span>
          }
        </p>
      </td>

      <td class="no-print text-center">
        <app-icon
          [icon]="'material-symbols-light:chevron-right'"
          class="text-body-secondary"
        />
      </td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <app-table-empty-message [colspan]="5" />
  </ng-template>
  <ng-template #paginatorleft>
    <app-table-footer [data]="dataSignal()" />
  </ng-template>
</app-table>

<app-data-view-mobile
  [data]="dataSignal()"
  [globalFilterFields]="globalFilterFields()"
  [showAdd]="false"
>
  <ng-template #listItemTemplate let-item>
    <ili-list-item class="ion-no-padding" (click)="onDetails(item.id)">
      <div
        start
        class="w-2rem h-2rem rounded bg-green-100 d-flex align-items-center justify-content-center flex-shrink-0 ms-3"
      >
        <app-icon
          [icon]="'material-symbols-light:wallet'"
          class="text-green-600 text-xl"
        />
      </div>
      <div class="flex-fill min-w-0 ms-2">
        <h3 class="fw-bold text-body">{{ item.period | uppercase }}</h3>
        <p class="text-sm text-body-secondary">
          Autorizado: {{ item.authorizedByName || '? En espera' }}
        </p>
        <p class="text-sm text-body-secondary">
          Contabilidad: {{ item.confirmedByName || '? En espera' }}
        </p>
      </div>
    </ili-list-item>
  </ng-template>
</app-data-view-mobile>
