@if (dataSignal()) {
<!-- 💻 INICIO: Contenido visible solo en pantallas medianas y grandes (md en adelante) -->
<div class="hidden md:block">
  <div class="card">
    <p-table
      (onSort)="onSort()"
      [globalFilterFields]="globalFilterFields()"
      [paginator]="true"
      [rows]="tablePrimeNgRows"
      [rowsPerPageOptions]="rowsPerPageOptions"
      [showCurrentPageReport]="true"
      [value]="dataSignal()"
      #dt
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
      sortField="category"
      sortMode="single"
      class="custom-table"
    >
      <ng-template #caption>
        <primeng-custom-caption
          [title]="'Inventario'"
          (add)="addProductos({ id: 0, title: 'Agregar Registro' })"
          [dt]="dt"
          [rolAuth]="
            aspRoleS.hasAny([
              AspRole.Asistente,
              AspRole.JefeMantenimiento,
              AspRole.Administrador,
              AspRole.SuperUsuario,
              AspRole.Almacenista
            ])
          "
        />
      </ng-template>
      <ng-template #header>
        <tr>
          <th pSortableColumn="producto.nombreProducto">
            Producto
            <p-sorticon field="producto.nombreProducto" />
          </th>
          <th pSortableColumn="existencia">
            Existencia
            <p-sorticon field="existencia" />
          </th>
          <th pSortableColumn="unidadDeMedida.descripcion">
            Unidad
            <p-sorticon field="unidadDeMedida.descripcion" />
          </th>
          <th pSortableColumn="stockMin">
            Stock Min
            <p-sorticon field="stockMin" />
          </th>
          <th pSortableColumn="stockMax">
            Stock Max
            <p-sorticon field="stockMax" />
          </th>
          <th pSortableColumn="compraRequerida">
            Compra Sugerida
            <p-sorticon field="compraRequerida" />
          </th>
          @if ( aspRoleS.anyOf([ AspRole.Asistente, AspRole.JefeMantenimiento,
          AspRole.Administrador, AspRole.SuperUsuario ])() ) {
          <th></th>
          }
        </tr>
      </ng-template>
      <ng-template #body let-item let-rowIndex="rowIndex">
        @if (rowGroupMetadata[item.category].index === rowIndex) {
        <tr>
          <td colspan="7">
            <span class="font-bold ml-2">{{ item.category }}</span>
          </td>
        </tr>
        }
        <tr>
          <td>
            <small
              (click)="onModalTarjetaProducto(item.productoId)"
              class="pointer"
            >
              <app-avatar [image]="item.urlImagen" alt="..." size="xlarge" />
              {{ item.producto }}
            </small>
          </td>
          <td class="text-center">
            <span
              class="p-2 badge ml-1"
              [class.bg-success]="item.existencia > item.stockMin"
              [class.bg-danger]="item.stockMin >= item.existencia"
            >
              {{ item.existencia }}
            </span>
          </td>
          <td>{{ item.unidadDeMedida }}</td>
          <td class="text-center">{{ item.stockMin }}</td>
          <td class="text-center">{{ item.stockMax }}</td>
          <td class="text-center">{{ item.compraRequerida }}</td>
          <td class="no-print">
            <div class="flex">
              <iw-button-item
                [iconClass]="'material-symbols-light:add'"
                lxTooltip="Entrada"
                tooltipPosition="top"
                (clicked)="onAddEntrada({ id: 0, idProducto: item.productoId, nombreProducto: item.producto, almacenId: item.almacenId })"
              />

              <iw-button-item
                iconClass="material-symbols-light:remove"
                lxTooltip="Salida"
                tooltipPosition="top"
                (clicked)="onAddSalida({ id: 0, idInventarioProducto: item.id, idProducto: item.productoId, nombreProducto: item.producto, almacenId: item.almacenId })"
              />

              <iw-button-edit
                (clicked)="editProductos({ id: item.id, title: 'Editar' })"
              />
              @if (item.existencia <= 0) {
              <iw-button-delete (confirmed)="onDelete(item.id)" />
              }
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <primeng-custom-table-emptymessage [colspan]="7" />
      </ng-template>
    </p-table>
  </div>
</div>

<!--📲INICIO: Componente adaptado para versión mívil -->
<app-data-view-mobile
  [data]="dataSignal()"
  (add)="addProductos({ id: 0, title: 'Agregar Registro' })"
  [globalFilterFields]="globalFilterFields()"
  [dt]="dt"
>
  <ng-template #listItemTemplate let-item>
    <ili-list-item>
      <div slot="start">
        <app-avatar
          [image]="item.urlImagen"
          [alt]="item.producto"
          size="large"
        />
      </div>

      <div class="flex flex-column gap-1">
        <p class="font-semibold m-0 text-color line-height-2">
          {{ item.producto }}
        </p>
        <div class="flex align-items-center gap-2 mt-1">
          <span class="text-xs text-color-secondary font-medium"
            >{{ item.unidadDeMedida }}</span
          >
          <span
            class="px-2 py-1 rounded-xl text-xs font-bold text-white"
            [class.bg-success]="item.existencia > item.stockMin"
            [class.bg-danger]="item.stockMin >= item.existencia"
          >
            {{ item.existencia }} en stock
          </span>
        </div>
      </div>
      <ili-action-menu slot="end">
        <ili-button-item
          iconName="add-outline"
          label="Entrada"
          (clicked)="
            onAddEntrada({
              id: 0,
              idProducto: item.productoId,
              nombreProducto: item.producto,
              almacenId: item.almacenId
            })
          "
        />

        <ili-button-item
          iconName="remove-outline"
          label="Salida"
          (clicked)="
            onAddSalida({
              id: 0,
              idInventarioProducto: item.id,
              idProducto: item.productoId,
              nombreProducto: item.producto,
              almacenId: item.almacenId
            })
          "
        />

        <ili-button-edit
          (clicked)="editProductos({ id: item.id, title: 'Editar' })"
          label="Editar"
        />
        @if (item.existencia <= 0) {
        <ili-button-delete (confirmed)="onDelete(item.id)" label="Eliminar" />
        }
      </ili-action-menu>
    </ili-list-item>
  </ng-template>
</app-data-view-mobile>
}
