<form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
  <custom-input-autocomplete-signal
    (propagar)="saveProviderId($event)"
    [control]="form.controls.provider"
    [data]="cb_providers()"
    label="Nombre"
    dataListId="providerDatalistOptions"
    placeholder="Escribe para buscar proveedor"
  />

  <custom-input-select-signal
    [control]="form.controls.tipoGasto"
    label="Tipo de Gasto"
    [data]="cb_tipoGasto()"
  />
  <custom-input-text-signal
    [control]="form.controls.reference"
    label="Referencia"
    placeholder="Referencia"
  />
  <custom-input-text-signal
    [control]="form.controls.cuentaClave"
    label="Cuenta/Clabe"
    placeholder="Cuenta/Clabe"
  />

  <hr />
  <p class="text-center font-bold">Asignar Peróodo de Fondeo (Opcional)</p>

  <custom-input-select-signal
    [control]="form.controls.fundingYear"
    label="Año de Fondeo"
    [data]="cb_fundingYear()"
    optionLabel="label"
    optionValue="value"
    [showClear]="true"
    placeholder="Selecciona el Año"
    [horizontal]="true"
    customClass="w-full"
  />

  <div class="grid col-12 md:col-6 lg:col-4">
    @for (month of fundingPeriodsByMonth(); track month.monthName) {
    <div>
      <p-message [text]="month.monthName" styleClass="w-full justify-content-start">
        <div class="flex-grow-1 text-right">
          @for (quincena of month.quincenas; track quincena.value) {
          <p-tag
            (click)="selectFundingPeriod(quincena)"
            [value]="quincena.label.split(' ')[0]"
            [severity]="form.controls.fundingPeriod.value === quincena.value ? 'success' : 'secondary'"
            styleClass="ml-2 pointer"
          ></p-tag>
          }
        </div>
      </p-message>
    </div>
    }
  </div>

  <hr />

  <custom-input-select-signal
    [control]="form.controls.usoCFDIId"
    label="Uso de CFDI"
    [data]="cb_usoCfdi()"
  />

  <custom-input-select-signal
    [control]="form.controls.metodoDePagoId"
    label="Metodo de Pago"
    [data]="cb_payment_method()"
  />

  <custom-input-select-signal
    [control]="form.controls.formaDePagoId"
    label="Forma de Pago"
    [data]="cb_formaPago()"
  />
  <custom-button-save [disabled]="form.invalid" [submitting]="submitting()" />
</form>
