<li class="profile-nav onhover-dropdown px-0 py-0 m-0">
  <div class="flex profile-media-committee align-items-center" (click)="toggleMenu()">
    <img
      class="img-40"
      style="border-radius:var(--ds-radius-lg,8px);"
      [src]="profileImageUrl || 'assets/images/default-avatar.png'"
      alt="Img"
    />
    <div class="flex-flex-grow-1-1 ms-2">
      <span>
        {{ infoAccountAuthDTO?.firstName }} {{ infoAccountAuthDTO?.lastName }}
      </span>
      <p class="mb-0 font-outfit">
        {{ infoAccountAuthDTO?.position }}
        <app-icon icon="mdi:chevron-down" class="ms-1 text-sm" />
      </p>
    </div>
  </div>

  <ul
    class="profile-dropdown onhover-show-div"
    [class.active]="isMenuVisible"
    (mouseleave)="closeMenu()"
  >
    <li>
      <div class="ps-2 pe-2 mb-2">
        <span>{{ customerName() }}</span>
      </div>
    </li>
    <li>
      <a [routerLink]="['/profile/update-user-profile']">
        <app-icon icon="mdi:account" class="m-2" style="color:var(--ds-primary);" />
        <span>Cambiar contraseña</span>
      </a>
    </li>
    @if (updateService.isUpdateAvailable()) {
    <li (click)="onUpdateClick()">
      <a>
        <app-icon icon="mdi:sync" class="m-2" style="color:var(--ds-primary);" />
        <span>Actualizar</span>
      </a>
    </li>
    }
    <li (click)="logout()">
      <a>
        <app-icon icon="mdi:logout" class="m-2" style="color:var(--ds-primary);" />
        <span>Cerrar sesión</span>
      </a>
    </li>
  </ul>
</li>
