<app-data-view-mobile
  [data]="data()"
  (add)="add.emit()"
>
  <div customFilters>
    <div class="px-4 py-2">
      <lux-button-mobile
        kind="active-desactive"
        fill="outline"
        color="secondary"
        [icon]="
          state()
            ? 'material-symbols-light:visibility-off'
            : 'material-symbols-light:visibility'
        "
        [label]="state() ? 'Inactivos' : 'Activos'"
        (clicked)="changeState.emit(!state())"
      />
    </div>
  </div>
  <ng-template #listItemTemplate let-template>
    <ili-list-item>
      <div
        start
        class="d-flex align-items-center justify-content-center flex-shrink-0 ms-3 me-2 rounded-lg w-3rem h-3rem bg-primary-50"
      >
        <lux-icon
          icon="material-symbols-light:description"
          class="text-xl text-primary"
        />
      </div>

      <h5 class="mb-2">{{ template.name }}</h5>
      <p class="text-sm text-body-secondary">
        Rol: {{ template.roleName }}
      </p>

      <ili-action-menu slot="end">
        <ng-container actions>
          <lux-button-mobile
            kind="item"
            label="Administrar Items"
            (clicked)="manageItems.emit(template.id)"
          />
          <lux-button-mobile
            kind="item"
            label="Editar"
            (clicked)="edit.emit(template)"
          />
          <lux-button-mobile
            kind="delete"
            color="danger"
            (clicked)="delete.emit(template.id)"
          />
        </ng-container>
      </ili-action-menu>
    </ili-list-item>
  </ng-template>
</app-data-view-mobile>
