<p-table
  [value]="data()"
  [globalFilterFields]="globalFilterFields()"
  [scrollable]="scrollable()"
  [scrollHeight]="scrollHeight()"
  [paginator]="paginator()"
  [rows]="rows()"
  [rowsPerPageOptions]="rowsPerPageOptions()"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
  [class]="'hidden md:block'"
  [pt]="pt"
  #dt
>
  <ng-template #caption>
    <primeng-custom-caption
      [title]="title()"
      [showAdd]="showAdd()"
      [label]="addLabel()"
      [dt]="dt"
      (add)="add.emit($event)"
    />
  </ng-template>

  <ng-template #header>
    <tr>
      @for (col of cols(); track col.field) {
      <th
        [pSortableColumn]="col.sortable !== false ? col.field : undefined"
        [class]="col.class ?? ''"
        [style]="col.style ?? ''"
      >
        {{ col.header }} @if (col.sortable !== false) {
        <p-sortIcon [field]="col.field" />
        }
      </th>
      } @if (actionsTemplate) {
      <th class="no-print"></th>
      }
    </tr>
  </ng-template>

  <ng-template #body let-item>
    <tr>
      @for (col of cols(); track col.field) {
      <td [class]="col.class ?? ''" [style]="col.style ?? ''">
        {{ item[col.field] }}
      </td>
      } @if (actionsTemplate) {
      <td class="no-print">
        <div class="flex">
          <ng-container
            [ngTemplateOutlet]="actionsTemplate"
            [ngTemplateOutletContext]="{$implicit: item}"
          />
        </div>
      </td>
      }
    </tr>
  </ng-template>

  <ng-template #emptymessage>
    <tr>
      <td [attr.colspan]="totalCols()">
        <app-empty-state
          [icon]="emptyIcon()"
          [title]="emptyTitle()"
          [message]="emptyMessage()"
        />
      </td>
    </tr>
  </ng-template>

  <ng-template #paginatorleft>
    <primeng-custom-table-footer [data]="data()" />
  </ng-template>
</p-table>
