@if (dataSignal()) {
@if (platformS.isMobile()) {
<app-my-requests-task-mobile
  [data]="dataSignal()"
  [globalFilterFields]="globalFilterFields()"
  (statusChange)="onLoadData($event)"
  (add)="onModalAdd($event)"
  (edit)="onModalForm($event)"
  (followUp)="onFollowUp($event)"
/>
} @else {
<app-my-requests-task-desktop
  [data]="dataSignal()"
  [globalFilterFields]="globalFilterFields()"
  (statusChange)="onLoadData($event)"
  (add)="onModalAdd($event)"
  (edit)="onModalForm($event)"
  (followUp)="onFollowUp($event)"
  (updatePriority)="onUpdatePriority($event)"
/>
}
}
