<!-- 🖥️ INICIO: Contenido visible solo en pantallas medianas y grandes (md en adelante) -->
<div class="hidden md:block">
  <div class="p-3">
    <p-table
      [value]="dataSignal()"
      styleClass="custom-table"
      [paginator]="true"
      [rows]="tablePrimeNgRows"
      [rowsPerPageOptions]="rowsPerPageOptions"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
      [globalFilterFields]="globalFilterFields()"
      [scrollable]="true"
      [scrollHeight]="scrollHeight()"
      #dt
    >
      <ng-template #caption>
        <div
          class="flex flex-column lg:flex-row lg:align-items-center justify-content-between p-2 gap-3"
        >
          <!-- Parte Izquierda: Título y búsqueda -->
          <div class="flex-grow-1">
            <primeng-custom-caption
              [showAdd]="false"
              [dt]="dt"
              [noPadding]="true"
              [noMargin]="true"
            />
          </div>

          <!-- Parte Derecha: Filtros adicionales -->
          <div class="flex flex-column sm:flex-row align-items-center gap-2">
            <div style="width: 150px">
              <custom-button-active-desactive
                [state]="state"
                (stateChange)="onSelectActive($event)"
              />
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #header>
        <tr>
          <th class="table-col-40">Cliente</th>
          <th class="table-col-20">Número Cliente</th>
          <th class="table-col-20">Registrado</th>
          <th class="table-col-15">Estado</th>
          <th class="table-col-5"></th>
        </tr>
      </ng-template>
      <ng-template #body let-item>
        <tr
          class="cursor-pointer"
          (click)="onModalForm({ customerId: item.customerId, nameCustomer:  item.nameCustomer })"
        >
          <td>
            <div class="flex align-items-center">
              <p-avatar
                [image]="item.photoPath"
                [alt]="item.nameCustomer"
                size="normal"
                shape="circle"
                styleClass="mr-2"
              />
              <span class="m-0 font-medium text-sm">{{
                item.nameCustomer
              }}</span>
            </div>
          </td>
          <td class="text-xs">{{ item.numeroCliente }}</td>
          <td class="text-xs">{{ item.register }}</td>
          <td>
            @if (item.isAssigned) {
            <p-tag severity="success" value="Activo"></p-tag>
            } @else {
            <p-tag severity="danger" value="Inactivo"></p-tag>
            }
          </td>
          <td class="text-right">
            <app-icon icon="mdi:chevron-right"></app-icon>
          </td>
        </tr>
      </ng-template>
      <ng-template #paginatorleft>
        <primeng-custom-table-footer [data]="dataSignal()" />
      </ng-template>
    </p-table>
  </div>
</div>

<!-- 📱 INICIO: Componente adaptado para versión móvil -->
<app-data-view-mobile
  [data]="dataSignal()"
  [globalFilterFields]="globalFilterFields()"
  [trackByProperty]="'customerId'"
>
  <div customFilters>
    <div class="px-4 py-2">
      <h5 class="m-0 mb-3 text-secondary text-xs uppercase tracking-wider">
        Filtrar por Estado
      </h5>
      <ion-button-active-desactive
        fluid
        [state]="state"
        (stateChange)="onSelectActive($event)"
      />
    </div>
  </div>
  <ng-template #listItemTemplate let-customer>
    <ion-item
      button
      (click)="onModalForm({ customerId: customer.customerId, nameCustomer:  customer.nameCustomer })"
      lines="full"
      class="ion-no-padding"
      detail="true"
    >
      <ion-avatar slot="start">
        <img [src]="customer.photoPath" [alt]="customer.nameCustomer" />
      </ion-avatar>
      <ion-label>
        <h2 class="font-normal m-0">{{ customer.nameCustomer }}</h2>
        <p class="text-medium text-500 m-0">#{{ customer.numeroCliente }}</p>
      </ion-label>
      <div slot="end" class="flex align-items-center mr-2">
        @if (customer.isAssigned) {
        <p-tag severity="success" value="Asignado"></p-tag>
        } @else {
        <p-tag severity="danger" value="No Asignado"></p-tag>
        }
      </div>
    </ion-item>
  </ng-template>
</app-data-view-mobile>
