<div class="p-4">
  <div class="mb-4">
    <h3>Detalles del Producto</h3>
    <p class="text-lg font-semibold">{{ productData.productName }}</p>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <custom-input-number-signal
      label="Cantidad"
      [control]="form.controls.quantity"
    />

    <custom-input-currency-signal
      label="Precio Unitario"
      [control]="form.controls.unitPrice"
      [minFractionDigits]="0"
      [maxFractionDigits]="4"
    />

    <custom-input-currency-signal
      label="Descuento"
      [control]="form.controls.descuento"
    />
    <custom-input-decimal-signal
      label="IVA (%)"
      [control]="form.controls.ivaAplicado"
      suffix="%"
    />
    <custom-input-decimal-signal
      label="Retención IVA (%)"
      [control]="form.controls.retencionIVAPorcentaje"
      suffix="%"
    />

    <custom-input-decimal-signal
      label="Retención ISR (%)"
      [control]="form.controls.retencionISRPorcentaje"
      suffix="%"
    />

    <custom-input-select-signal
      label="Unidad de Medida"
      [data]="cb_measurement_units"
      placeholder="Seleccione una unidad"
      [control]="form.controls.unidadMedidaId"
      [filter]="true"
    />

    <il-button type="submit" label="Guardar" [disabled]="form.invalid" />
  </form>
</div>
