@if (isMobileView) {
<!-- Esto no se ve -->

<div class="h-screen w-screen overflow-hidden">
  <ion-app>
    <div class="ion-page h-full flex flex-column">
      <ion-header class="ion-no-border">
        <ion-toolbar class="ion-no-padding">
          <app-header-mobile />
        </ion-toolbar>
      </ion-header>

      <ion-content [scrollY]="true" [fullscreen]="true" class="flex-flex-grow-1-1 relative">
        <div
          class="page-body-wrapper"
          [class.scorlled]="hideScroolNavService.headerFixed == true"
        >
          <div class="pb-4">
            <router-outlet />
          </div>
        </div>
<lx-loader />
      </ion-content>
    </div>
  </ion-app>
</div>

<!-- Si es usuario de comite y móvil, usar la vista móvil de empleado -->
} @else {
<!-- Si es usuario de comite y monitor, usar la vista de monitor de empleado -->
    <div class="page-body-wrapper" [class]="layoutClass">
  <app-header-committee-monitor />

  <div class="container mt-2 relative">
    <div class="page-body committee-background">
      <br />
      <br />
      <router-outlet />
    </div>
    <app-loader />
  </div>
  <footer class="footer">
    <app-footer-committee-monitor />
  </footer>
</div>

}







