<form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
  <custom-input-text-signal
    [control]="form.controls.name"
    label="Nombre de la Plantilla"
    placeholder="Nombre de la Plantilla"
  />
  <custom-input-textarea-signal
    [control]="form.controls.description"
    label="Descripción"
    placeholder="Descripción"
  />

  <custom-input-select-signal
    [control]="form.controls.roleId"
    label="Rol Asignado"
    [data]="roles()"
    [filter]="true"
  />
  <custom-input-check-signal
    [control]="form.controls.isActive"
    label="Item Activo"
  />

  <custom-input-multiselect-signal
    [control]="form.controls.customerIds"
    label="Clientes Asignados"
    [options]="availableCustomers()"
    placeholder="Selecciona clientes"
  />

  <il-button-save
    [propertyId]="templateId()"
    [disabled]="form.invalid"
    [submitting]="submitting()"
  />
</form>
