<div class="p-4" style="min-height: 400px">
  @switch (status()) { @case ('initial') {
  <p-fileUpload
    name="files[]"
    (onSelect)="onFileSelect($event)"
    [multiple]="true"
    accept=".xml,.pdf"
    [maxFileSize]="10000000"
    chooseLabel="Seleccionar Facturas (XML y PDF)"
  >
    <ng-template pTemplate="content">
      <div class="text-center p-5 border-2 border-dashed border-round-md">
        <app-icon [icon]="'mdi:cloud-upload'" class="text-4xl text-primary"></app-icon>
        <p class="mt-3 text-lg">
          Arrastra y suelta archivos aquó para subirlos.
        </p>
      </div>
    </ng-template>
  </p-fileUpload>
  } @case ('analyzing') {
  <div class="flex flex-column justify-content-center align-items-center" style="height: 400px">
    <app-icon [icon]="'mdi:spin'" class="text-4xl text-primary"></app-icon>
    <p class="mt-3 text-lg">Analizando facturas, por favor espere...</p>
  </div>
  } @case ('creating') {
  <div class="flex flex-column justify-content-center align-items-center" style="height: 400px">
    <app-icon [icon]="'mdi:spin'" class="text-4xl text-primary"></app-icon>
    <p class="mt-3 text-lg">Creando órdenes de compra...</p>
  </div>
  } @case ('preview') {
  <h5>Resultados del Anólisis</h5>
  <p>
    Revisa la información y selecciona las órdenes de compra que deseas crear.
  </p>

  <p-table
    [value]="analysisResult()"
    styleClass="p-datatable-sm"
    dataKey="tempId"
  >
    <ng-template #header>
      <tr>
        <th class="table-col-3rem">
          <custom-input-check-signal
            [ngModel]="allSelected()"
            (checkChange)="onSelectAll($event)"
          ></custom-input-check-signal>
        </th>
        <th class="table-col-8">Estado</th>
        <th>Proveedor</th>
        <th>Total</th>
        <th class="table-col-20">Tipo de Gasto</th>
        <th class="table-col-25">Justificación</th>
      </tr>
    </ng-template>
    <ng-template #body let-item>
      <tr>
        <td>
          <custom-input-check-signal
            [ngModel]="item.selected()"
            (checkChange)="item.selected.set($event); onRowSelect()"
            [disabled]="item.status !== 0 && item.status !== 5"
          ></custom-input-check-signal>
        </td>
        <td>
          @switch(item.status) { @case(0) {
          <p-tag severity="success" value="Listo"></p-tag> } @case(1) {
          <p-tag
            severity="danger"
            value="Sin Proveedor"
            [pTooltip]="item.statusMessage"
          ></p-tag>
          } @case(2) {
          <p-tag
            severity="danger"
            value="XML Invólido"
            [pTooltip]="item.statusMessage"
          ></p-tag>
          } @case(3) {
          <p-tag
            severity="warning"
            value="Sin XML"
            [pTooltip]="item.statusMessage"
          ></p-tag>
          } @case(4) {
          <p-tag
            severity="warning"
            value="Ya Existe"
            [pTooltip]="item.statusMessage"
          ></p-tag>
          } @case(5) {
          <p-tag
            severity="warning"
            value="Advertencia"
            [pTooltip]="item.statusMessage"
            icon="mdi:alert"
          ></p-tag>
          } }
        </td>
        <td>
          {{ item.providerName }} <br />
          <small>{{ item.providerRfc }}</small>
        </td>
        <td>{{ item.total | number:'1.2-2' }}</td>
        <td>
          <custom-input-select-signal
            [data]="tiposGasto"
            [ngModel]="item.tipoGasto()"
            (ngModelChange)="item.tipoGasto.set($event)"
            [disabled]="item.status !== 0 && item.status !== 5"
            [filter]="true"
          >
          </custom-input-select-signal>
        </td>
        <td>
          <custom-input-text-signal
            [ngModel]="item.justificacionGasto()"
            (ngModelChange)="item.justificacionGasto.set($event)"
            [disabled]="item.status !== 0 && item.status !== 5"
          ></custom-input-text-signal>
        </td>
      </tr>
    </ng-template>
    <ng-template #empty>
      <tr>
        <td colspan="6" class="text-center">
          No se encontraron facturas para procesar.
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div class="flex justify-content-end mt-4">
    <custom-button
      (clicked)="onCreateOrders()"
      [label]="createButtonLabel()"
      severity="success"
      [disabled]="selectedCount() === 0"
    >
    </custom-button>
  </div>
  } }
</div>
