<custom-input-autocomplete-signal
  (propagar)="saveProviderId($event)"
  [control]="providerControl"
  [data]="cb_providers()"
  label="Proveedor"
  placeholder="Escribir para buscar proveedor"
/>

<form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
  <custom-input-select-signal
    [control]="form.controls.tipoGasto"
    [data]="tiposDeGasto"
    label="Tipo de gasto"
    placeholder="Seleccionar tipo de gasto"
  />

  <custom-input-textarea-signal
    [control]="form.controls.equipoOInstalacion"
    label="Área / Equipo / Instalación"
    placeholder="Área o equipo al que aplica el gasto"
  />

  <custom-input-textarea-signal
    [control]="form.controls.justificacionGasto"
    label="Justificación del gasto"
    placeholder="Descripción del servicio o bien a adquirir"
  />

  <custom-input-textarea-signal
    [control]="form.controls.notasEspeciales"
    label="Motivo de urgencia"
    placeholder="Indicar por qué el pago no puede seguir el proceso normal de fondeo"
  />

  <custom-button-save
    [disabled]="form.invalid || !providerId()"
    [submitting]="submitting()"
  />
</form>
