<il-button
  label="Cargar Documentos"
  (clicked)="onModalFormUploadDoc(machineryId)"
  severity="info"
  customClass="mr-1"
/>
<hr />
@if (dataSignal()) {
<div>
  <div class="row g-4">
    @for (item of dataSignal(); track item) {
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div
        class="card-body p-1 text-center border-1 border rounded"
      >
        <a
          [href]="url + item.document"
          class="p-1 d-block no-underline text-body"
        >
          <app-icon
            [icon]="'material-symbols-light:picture-as-pdf'"
            class="icon icon- text-danger icon-2x"
          />
          <br />
          <span
            class="text-nowrap overflow-hidden text-truncate d-block"
          >
            {{ item.document }}
          </span>
        </a>
        <div class="mt-2">
          <il-button-confirm
            icon="trash"
            ngbTooltip="Eliminar"
            (confirmed)="onDelete(item.id)"
          />
        </div>
      </div>
    </div>
    }
  </div>
</div>
}
