<div class="no-print hidden md:block">
  <div
    class="flex justify-content-end align-items-center gap-2"
    [class.p-2]="!noPadding()"
    [class.mb-2]="!noMargin()"
  >
    @if (showSearch() || isDataView()) {
    <div class="flex-shrink-0" style="max-width: 260px">
      <custom-search-input-signal
        (searchChange)="dt().filterGlobal($event, 'contains')"
      />
    </div>
    } @if (showAdd() && rolAuth()) {
    <div class="flex-shrink-0">
      <custom-button-add (clicked)="onAdd($event)" />
    </div>
    }
  </div>
</div>
<!-- 📱 Vista Mobile -->
<div class="flex md:hidden flex-column gap-2 mb-2 no-print">
  <div class="flex align-items-center gap-2">
    <!-- Campo de búsqueda -->
    @if (showSearch() || isDataView()) {
    <div class="flex-flex-grow-1-1">
      <custom-search-input-signal
        (searchChange)="dt().filterGlobal($event, 'contains')"
      />
    </div>
    }

    <!-- Botón de agregar -->
    @if (showAdd() && rolAuth()) {
    <div class="flex-shrink-0">
      <custom-button-add (clicked)="onAdd($event)" />
    </div>
    }
  </div>
</div>
