<!-- Desktop View -->
<div class="hidden md:block">
  <br />
  <div class="grid">
    @for (option of comiteMenuOptions; track $index) {
    <div class="col-6 lg:col-3 p-2">
      <a
        [routerLink]="[option.routeParam]"
        class="no-underline block committee-folder-box text-900"
      >
        <div class="committee-files-list">
          <div class="committee-image-container">
            <img
              [src]="option.image"
              [alt]="option.title"
              class="committee-menu-option-image"
            />
          </div>
          <div class="committee-card-content text-center mt-2">
            <h6 class="m-0">{{ option.title }}</h6>
          </div>
        </div>
      </a>
    </div>
    }
  </div>
</div>

<!-- Mobile View -->
<div class="block md:hidden">
  <div class="grid p-0">
    <div class="flex flex-wrap w-full">
      @for (option of comiteMenuOptions; track $index) {
      <div class="col-6 p-0">
        <div class="m-1 h-full animate__animated animate__fadeIn border-1 surface-border shadow-1" (click)="navigateTo(option.routeParam)">
          <div class="relative overflow-hidden h-9rem">
            <lx-image
              [src]="option.image"
              [alt]="option.title"
              styleClass="w-full h-full cover-image"
            ></lx-image>
          </div>
          <div class="text-center p-2">
            <span class="text-sm font-bold text-900">{{ option.title }}</ion-label
            >
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
      }
    </div>
  </div>
</div>
