:host {
  display: block;
}

.editor-container {
  border: none;
  height: calc(100vh - 60px);
  width: 100%;
}

iframe {
  border: none;
  height: 100%;
  width: 100%;
}

.flowchart-loading-icon {
  color: var(--ds-primary, #0b3164);
  font-size: 2rem;
}
