<lux-table
  #dt
  [value]="data()"
  [rows]="10"
  [paginator]="true"
  [loading]="loading()"
  size="small"
  [scrollable]="true"
  [scrollHeight]="scrollHeight"
  class="custom-table"
>
  <ng-template #caption>
    <div
      class="d-flex flex-column flex-md-row align-items-md-center justify-content-end p-2 gap-2 g-4"
    >
      <lux-table-caption
        (add)="add.emit()"
        [dt]="dt"
        [noPadding]="true"
        [noMargin]="true"
      />
      <div class="flex-shrink-0">
        <iw-button-active-desactive
          [state]="state()"
          (stateChange)="changeState.emit($event)"
        />
      </div>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th>Nombre</th>
      <th>DESCRIPCIÓN</th>
      <th>Rol Asignado</th>
      <th class="table-col-15">Acciones</th>
    </tr>
  </ng-template>
  <ng-template #body let-template>
    <tr>
      <td>{{ template.name }}</td>
      <td>{{ template.description }}</td>
      <td>{{ template.roleName }}</td>
      <td>
        <div class="d-flex">
          <iw-button-item
            [iconClass]="'material-symbols-light:description'"
            lxTooltip="Items"
            tooltipPosition="top"
            (clicked)="manageItems.emit(template.id)"
          />
          <lux-button-web
            kind="edit"
            displayMode="icon"
            severity="info"
            variant="soft"
            size="sm"
            tooltip="Editar"
            ariaLabel="Editar"
            (clicked)="edit.emit(template)"
          />
          <iw-button-delete (confirmed)="delete.emit(template.id)" />
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td colspan="4">No se encontraron plantillas.</td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <lux-table-empty-message [colspan]="4" />
  </ng-template>
</lux-table>
