<p-table
  [globalFilterFields]="globalFilterFields()"
  [value]="dataSignal()"
  #dt
  class="custom-table card hidden md:block"
  [loading]="loading()"
>
  <ng-template #caption>
    <primeng-custom-caption
      (add)="onModalForm({ id: '', title: 'Nuevo Beneficiario' })"
      [showSearch]="dataSignal().length > 0"
      [dt]="dt"
    />
  </ng-template>

  @if (dataSignal().length !== 0) {
  <ng-template #header>
    <tr>
      <th>Empleado</th>
      <th>Nombre del Beneficiario</th>
      <th>Teléfono</th>
      <th>Parentesco</th>
      <th class="table-col-5 no-print"></th>
    </tr>
  </ng-template>
  }

  <ng-template #body let-item>
    <tr>
      <td>{{ item.employeeName }}</td>
      <td>{{ item.fullName }}</td>
      <td>{{ item.phoneNumber }}</td>
      <td>{{ item.relationName }}</td>
      <td class="no-print">
        <div class="flex justify-content-center">
          @if (!isReadOnly()) {
          <iw-button
            iconClass="edit"
            ngbTooltip="Editar"
            (clicked)="onModalForm({ id: item.id, title: 'Editar Beneficiario' })"
          />
          } @if (!isReadOnly()) {
          <iw-button-confirm
            iconClass="trash"
            severity="danger"
            ngbTooltip="Eliminar"
            (confirmed)="onDelete(item.id)"
          />
          }
        </div>
      </td>
    </tr>
  </ng-template>

  @if (dataSignal().length === 0) {
  <ng-template #emptymessage>
    <primeng-custom-table-emptymessage [colspan]="5" />
  </ng-template>
  }
</p-table>

<app-data-view-mobile
  [data]="dataSignal()"
  [globalFilterFields]="globalFilterFields()"
  (add)="onModalForm({ id: '', title: 'Nuevo Beneficiario' })"
  [showAdd]="!isReadOnly()"
>
  <ng-template #listItemTemplate let-item>
    <ili-list-item>
      <div
        start
        class="flex align-items-center justify-content-center flex-shrink-0 ml-3 mr-2 rounded-lg"
        class="w-3rem h-3rem bg-primary-50"
      >
        <app-icon
          icon="material-symbols-light:person-outline"
          class="text-xl text-primary"
        />
      </div>

      <h3>{{ item.employeeName }}</h3>
      <p>{{ item.fullName }}</p>
      <p>{{ item.relationName }} | {{ item.phoneNumber }}</p>

      @if (!isReadOnly()) {
      <ili-action-menu slot="end">
        <ng-container actions>
          <ili-button-edit
            (clicked)="onModalForm({ id: item.id, title: 'Editar Beneficiario' })"
            label="Editar"
            iconName="create-outline"
          />
          <ili-button-delete (confirmed)="onDelete(item.id)" label="Eliminar" />
        </ng-container>
      </ili-action-menu>
      }
    </ili-list-item>
  </ng-template>
</app-data-view-mobile>