/**=====================
    2.21 Loader CSS Start
==========================**/

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/**=====================
    2.21 Loader CSS Ends
==========================**/
.tap-top {
  text-align: center;
  cursor: pointer;
  display: none;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 5;
  color: #fff;
  background: var(--ds-primary);
  // background: var(--theme-default);
  border: none;
  padding: 7px;
  outline: 2px solid var(--ds-primary);
  outline-offset: 2px;
  opacity: 0.5;
  transition: all 0.3s ease;

  &:hover {
    transition: all 0.3s ease;
    opacity: 1;
  }

  svg {
    width: 20px;
  }
}



