<div class="card">
  <div class="card-body">
    <form autocomplete="off" (ngSubmit)="onSubmit()" [formGroup]="form">
      <custom-input-autocomplete-signal
        (propagar)="saveCondominiumAsset($event)"
        [control]="form.controls.condominiumAssetName"
        [data]="cb_activos()"
        label="Equipo o área"
        placeholder="Escribe para buscar equipo o área"
        [horizontal]="false"
      />

      <custom-input-text-signal
        [control]="form.controls.position"
        label="Posición"
        placeholder="Posición del área"
        type="number"
        min="1"
        [horizontal]="false"
      />

      <custom-input-autocomplete-signal
        (propagar)="onAddReviewAutocomplete($event)"
        [control]="form.controls.reviewSelection"
        [data]="cb_inspection_reviews_catalog()"
        label="Listado de inspecciones"
        placeholder="Seleccione una revisión"
        [horizontal]="false"
      />

      <div class="mb-3">
        <label>Revisiones agregadas</label>
        <div>
          @if (reviewsControl.controls.length === 0) {
          <div class="text-color-secondary text-sm mb-2">
            No hay revisiones agregadas
          </div>
          } @for (review of reviewsControl.controls; track $index; let i =
          $index) {
          <div
            class="flex justify-content-between align-items-center border-1 surface-border border-round p-2 mb-2"
          >
            <span>{{ review.value.label }}</span>
            <div class="ml-auto">
              <il-button-confirm
                (clicked)="onRemoveReview(i)"
                icon="trash"
              />
            </div>
          </div>
          }
        </div>
      </div>

      <il-button-save
        [disabled]="form.invalid || reviewsControl.length === 0"
        [submitting]="submitting()"
      />
    </form>
  </div>
</div>
