<!-- Vista Escritorio -->
<div class="hidden md:flex w-full " role="group" aria-label="Estado">
  @for (item of cb_status; track item.value) {
  <custom-button
    [iconClass]="item.icon"
    [label]="item.label"
    [severity]="status === item.value ? getSeverityForStatus(item.value) : 'secondary'"
    [variant]="status === item.value ? null : 'outlined'"
    [showLabelOnDesktop]="true"
    [fluid]="true"
    class="mb-2"
    (clicked)="onStatusChange(item.value)"
  />
  }
</div>

<!-- Vista Móvil -->
<div class="w-full mb-3 md:hidden">
  <ion-segment
    [value]="status"
    (ionChange)="onStatusChange($event.detail.value)"
    scrollable="true"
    mode="ios"
  >
    @for (item of cb_status; track item.value) {
    <ion-segment-button [value]="item.value">
      <ion-label>{{ item.label }}</ion-label>
    </ion-segment-button>
    }
  </ion-segment>
</div>
