<lx-card>
  <ng-template #header>
    <div class="flex align-items-center p-3 gap-2">
      <app-icon [icon]="'mdi:lock'" class="text-primary text-2xl" />
      <span class="text-xl font-bold">Cambiar Contraseña</span>
    </div>
  </ng-template>
  <ng-template #content>
    <form
      class="flex flex-column gap-4 mt-3"
      autocomplete="off"
      [formGroup]="formUpdatePassword"
      (ngSubmit)="updatePassword()"
    >
      <div class="flex flex-column gap-1">
        <custom-input-password-signal
          id="currentPassword"
          [control]="formUpdatePassword.controls.currentPassword"
          label="Contraseña actual"
          [showStrengthIndicator]="false"
          [horizontal]="false"
          [noMargin]="true"
          customClass="w-full"
        />
        @if ( f.currentPassword.invalid && (f.currentPassword.dirty ||
        f.currentPassword.touched) ) {
        <small class="p-error">
          @if (f.currentPassword.errors.required) { El password es requerido }
        </small>
        }
      </div>

      <div class="flex flex-column gap-1">
        <custom-input-password-signal
          id="newPassword"
          [control]="formUpdatePassword.controls.newPassword"
          label="Nueva Contraseña"
          [horizontal]="false"
          [noMargin]="true"
          customClass="w-full"
        />
        @if ( f.newPassword.invalid && (f.newPassword.dirty ||
        f.newPassword.touched) ) {
        <div class="p-error">
          @if (f.newPassword.errors.required) {
          <small> El password es requerido </small>
          } @if (f.newPassword.errors.passwordValidation) {
          <small> {{ f.newPassword.errors.passwordValidation.message }} </small>
          }
        </div>
        }
      </div>

      <div class="flex flex-column gap-1">
        <custom-input-password-signal
          id="confirm"
          [control]="formUpdatePassword.controls.confirm"
          label="Confirmar Contraseña"
          [showStrengthIndicator]="false"
          [horizontal]="false"
          [noMargin]="true"
          customClass="w-full"
        />
        @if (passwordNotValid()) {
        <small class="p-error"> Las contraseñas no coinciden. </small>
        }
      </div>

      <div class="flex justify-content-end mt-2">
        <il-button-save
          [disabled]="this.formUpdatePassword.invalid || submitting()"
        />
      </div>
    </form>
  </ng-template>
</lx-card>
