<!-- Aqui hay un pequeño espacio se ve lo del body cuando se hace scrool -->
<ion-toolbar class="ion-no-border header-mobile-toolbar">
  <ion-buttons slot="start">
    <ion-button (click)="onBack()">
      <lux-icon icon="material-symbols-light:chevron-left" slot="icon-only" />
    </ion-button>
  </ion-buttons>

  <!-- Centered Content -->
  <div class="header-mobile-center">
    <lux-customer-header-data-mobile-web />
  </div>

  <ion-buttons slot="end">
    <lux-profile-user-mobile-web />
  </ion-buttons>
</ion-toolbar>
