<div>
  <!-- 🖥️ INICIO: Contenido visible solo en pantallas medianas y grandes (md en adelante) -->
  <div class="hidden md:block">
    @if (dataSignal() && dataSignal() !== undefined) {
    <p-table
      [globalFilterFields]="globalFilterFields()"
      [paginator]="true"
      [rows]="tablePrimeNgRows"
      [rowsPerPageOptions]="rowsPerPageOptions"
      [showCurrentPageReport]="true"
      [value]="dataSignal()"
      [scrollable]="true"
      [scrollHeight]="scrollHeight"
      #dt
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
      class="custom-table hidden md:block"
    >
      <ng-template #caption>
        <primeng-custom-caption
          title="Mis tickets asignados"
          (add)="
              onModalAdd({
                id: '',
                title: 'Agregar',
              })
            "
          [dt]="dt"
        />
        <div class="mt-2">
          <app-task-status (statusChange)="onLoadData($event)" />
        </div>
      </ng-template>
      <ng-template #header>
        <tr>
          <th class="font-size-12">FOLIO</th>
          <th class="font-size-12 hidden md:table-cell">SOLICITA</th>
          <th class="font-size-12">FECHA SOL.</th>
          <th class="font-size-12">SOLICITUD</th>
          <th class="font-size-12 hidden md:table-cell">EVIDENCIA</th>
          <th class="font-size-12">PRIORIDAD</th>
          <th class="font-size-12">PROGRAMADO</th>
          <th class="font-size-12 hidden md:table-cell">CIERRE</th>
          <th class="font-size-12">DIAS</th>
          <th class="font-size-12"></th>
        </tr>
      </ng-template>
      <ng-template #body let-item>
        <tr>
          <td>{{ item.folio }}</td>
          <td class="text-center hidden md:table-cell">
            <app-avatar
              (click)="onCardEmployee(item.creatorId)"
              [image]="
                  item.creatorImg
                    ? item.creatorImg
                    : 'assets/images/default-avatar.jpg'
                "
              alt="Creador"
              shape="square"
              size="large"
              class="mr-2 cursor-pointer"
            />
          </td>
          <td>{{ item.createdAtDate }}</td>
          <td>
            <strong class="card-text">
              <em>{{ item.title }}</em>
            </strong>
            <p class="card-text">{{ item.description }}</p>
          </td>
          <td class="text-center hidden md:table-cell">
            @if (item.beforeWork) {
            <app-image
              [src]="
                    item.beforeWork
                      ? item.beforeWork
                      : 'assets/images/default-avatar.png'
                  "
              alt="."
              width="40"
              class="mr-2 border border-danger"
              [preview]="true"
            ></app-image>
            }
          </td>
          <td class="text-center">
            @if (item.priority === "Alta") {
            <app-icon [icon]="'mdi:star-outline'" class="icon icon- icon-xl" />
            } @if (item.priority === "Baja") {
            <app-icon [icon]="'mdi:star-outline'" class="icon icon- icon-xl" />
            }
          </td>
          <td>{{ item.scheduledAt }}</td>
          <td class="text-center hidden md:table-cell">
            {{ item.closedAtDate }}
          </td>
          <td class="text-center">
            <p>
              <strong>{{ item.daysDifference }}</strong>
            </p>
          </td>
          <td class="text-center no-print">
            <div class="flex justify-content-center">
              <!--
  p-button: El contenedor de la acción.
  p-button-secondary: Color grisíceo, menos prominente que el primario.
  p-button-border-round: Hace el botún circular.
  p-overlay-badge: Permite que el badge se superponga sobre el botún.
  (click): Ejecuta la función deseada.
  p-badge: Muestra el contador. Se oculta si el contador es 0.
-->
              <iw-button-tracking
                iconClass="mdi:star-outline"
                ngbTooltip="Dar seguimiento"
                [badgeCount]="item.ticketMessageFollowUp"
                (clickTracking)="onFollowUp(item.id)"
              />
              <app-action-menu>
                <ng-container actions>
                  @if (item.status !== "Completed") {
                  <il-button-item
                    iconClass="mdi:calendar"
                    label="Programar"
                    (clicked)="onProgram(item.id)"
                  />

                  } @if (item.status !== "Completed") {
                  <il-button-item
                    iconClass="mdi:lock"
                    label="Cerrar"
                    (clicked)="onClosed(item.id)"
                  />
                  } @if (item.status === "Completed") {
                  <il-button-item
                    iconClass="mdi:lock-open"
                    label="Re abrir"
                    (clicked)="onReopen(item.id)"
                  />
                  } @if (item.status !== "Completed") {
                  <il-button-edit
                    (clicked)="
                          onModalForm({
                            id: item.id,
                            title: 'Editar',
                            ticketGroupId: item.ticketGroupId,
                          })
                        "
                    label="Editar"
                  />

                  }
                </ng-container>
              </app-action-menu>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <primeng-custom-table-emptymessage [colspan]="10" />
      </ng-template>
    </p-table>
    }
  </div>

  <!-- Contenido para pantallas pequeóas (sm y menores) -->
  <div class="block md:hidden mt-3">
    <div class="container-fluid py-1">
      <div class="flex justify-content-between align-items-center mb-1">
        <h4 class="mb-0">Mis Tickets Asignados</h4>
      </div>

      <div class="flex justify-content-between align-items-center mb-1">
        <custom-input-text-signal
          placeholder="Ingresa texto para buscar..."
          [customClass]="'mr-1'"
          [ngModel]="searchTextSignal()"
          (ngModelChange)="searchTextSignal.set($event)"
          [horizontal]="false"
        />
        <il-button-add
          label="Agregar"
          iconClass="mdi:plus"
          customClass="p-button-outlined"
          (clicked)="
        onModalAdd({
          id: '',
          title: 'Agregar',
        })
      "
        />
      </div>

      <div class="flex mb-1">
        <il-button
          iconClass="mdi:hourglass"
          label="Pend.."
          variant="outlined"
          size="small"
          (clicked)="onLoadData(0)"
        />

        <il-button
          iconClass="mdi:sync"
          label="Reab.."
          variant="outlined"
          size="small"
          (clicked)="onLoadData(3)"
        />

        <il-button
          iconClass="mdi:cog"
          label="Proc.."
          variant="outlined"
          size="small"
          (clicked)="onLoadData(1)"
        />

        <il-button
          iconClass="mdi:check"
          label="Term.."
          variant="outlined"
          size="small"
          (clicked)="onLoadData(2)"
        />
      </div>

      @if (filteredDataSignal()) {
      <div class="ticket-list">
        @for (item of filteredDataSignal(); track item) {
        <div
          class="py-1 border-left-2 mb-1 pl-2"
          [class.border-red-500]="item.status === 'Completed'"
          [class.border-gray-500]="item.status === 'Reopened'"
          [class.border-green-500]="item.status === 'Closed'"
          [class.border-yellow-500]="item.status === 'InProgress'"
        >
          <!-- Fecha del Ticket -->
          <div class="flex justify-content-between align-items-center mb-1">
            <small class="text-color-secondary"
              >{{ item.folio }} | {{ item.createdAtDate }}</small
            >
            <span
              class="bg-primary-100 text-primary-700 border-round px-2 py-1 text-sm"
            >
              {{ item.daysDifference }}
            </span>
          </div>
          <div class="flex align-items-center">
            <!-- Foto de la evidencia -->
            <div class="mr-3">
              @if (item.beforeWork) {
              <app-image
                [src]="
              item.beforeWork
                ? item.beforeWork
                : 'assets/images/default-avatar.png'
            "
                alt="."
                width="50"
                class="border-round border-1 border-200"
                [preview]="true"
              ></app-image>
              }
            </div>
            <!-- Detalles del Ticket -->
            <div class="flex-grow-1">
              <div
                class="ticket-title text-overflow-ellipsis overflow-hidden white-space-nowrap"
              >
                {{ item.title }}
              </div>
              <small class="ticket-description two-lines text-color-secondary">
                {{ item.description }}
              </small>
            </div>
            <div>
              <app-action-menu>
                <ng-container actions>
                  <il-button-item
                    iconClass="mdi:clipboard-text"
                    label="Seguimiento"
                    (clicked)="onFollowUp(item.id)"
                  />
                  @if (item.status !== "Completed") {
                  <il-button-edit
                    (clicked)="onModalForm({ id: item.id, title: 'Editar' })"
                    label="Editar"
                  />
                  <il-button-item
                    iconClass="mdi:calendar"
                    label="Programar"
                    (clicked)="onProgram(item.id)"
                  />
                  <il-button-item
                    iconClass="mdi:sync"
                    label="En proceso"
                    (clicked)="onProgress(item.id)"
                  />
                  } @if (item.status !== "Completed") {
                  <il-button-item
                    iconClass="mdi:lock"
                    label="Cerrar"
                    (clicked)="onClosed(item.id)"
                  />
                  } @if (item.status === "Completed") {
                  <il-button-item
                    iconClass="mdi:lock-open"
                    label="Re abrir"
                    (clicked)="onReopen(item.id)"
                  />
                  }
                </ng-container>
              </app-action-menu>
            </div>
          </div>
        </div>
        }
      </div>
      }
    </div>
  </div>
</div>
