@if (platformS.isMobile()) {
  <app-reglamentos-list-mobile
    [data]="dataSignal()"
    [globalFilterFields]="globalFilterFields()"
    (consult)="openConsultation($event)"
  />
} @else {
  <app-reglamentos-list-desktop
    [data]="dataSignal()"
    [globalFilterFields]="globalFilterFields()"
    (consult)="openConsultation($event)"
    (rowReorder)="onRowReorder($event)"
  />
}

<lux-modal
  header="?? Asistente Legal Virtual"
  [visible]="showConsultationDialog()"
  (visibleChange)="showConsultationDialog.set($event)"
>
  <div class="d-flex flex-column">
    <app-message severity="info">
      Haz una pregunta específica sobre este reglamento y la IA analizará el
      documento para responderte.
    </app-message>

    <div class="mb-4">
      <label for="query" class="fw-bold d-block mb-2">Tu Consulta</label>
      <custom-input-textarea-signal
        id="query"
        [rows]="4"
        placeholder="Ej. óCuóles son las sanciones por ruido excesivo? óCuól es el horario de la alberca?"
        [control]="consultationQueryControl"
        customClass="w-100"
        [disabled]="consultingDoc()"
        [horizontal]="false"
        [noMargin]="true"
      />
    </div>

    @if (aiResponse()) {
    <div class="bg-body-tertiary p-3 rounded-xl">
      <div class="d-flex align-items-center mb-2 text-primary fw-bold">
        <lux-icon [icon]="'material-symbols-light:auto-awesome-motion'" />
        <span>Respuesta del Asistente</span>
      </div>
      <div
        [innerHTML]="aiResponse()"
        class="line-height-3 text-body text-justify"
      ></div>
    </div>
    }
  </div>

  <ng-template #footer>
    <il-button
      label="Cancelar"
      iconClass="material-symbols-light:close"
      variant="text"
      [disabled]="consultingDoc()"
      (clicked)="showConsultationDialog.set(false)"
    />
    <il-button
      label="Consultar"
      iconClass="material-symbols-light:search"
      [loading]="consultingDoc()"
      [disabled]="!consultationQueryControl.value?.trim()"
      (clicked)="consultAi()"
    />
  </ng-template>
</lux-modal>
