@if (mensajeError) {
<p class="p-error text-left italic text-sm">Seleccione producto y unidad</p>
} @if (dataSignal()) {
<p-table
  (onLazyLoad)="loadDataLazy($event)"
  [first]="first"
  [globalFilterFields]="globalFilterFields()"
  [lazy]="true"
  [loading]="loading()"
  [paginator]="true"
  [rows]="tablePrimeNgRows"
  [rowsPerPageOptions]="rowsPerPageOptions"
  [showCurrentPageReport]="true"
  [value]="dataSignal()"
  #dt
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
  [totalRecords]="totalRecordsSignal()"
  class="custom-table"
>
  <ng-template #caption>
    <div class="hidden md:block">
      <div class="grid">
        <div class="col-12 md:col-10">
          <div class="flex align-items-center justify-content-between">
            <h4 class="mb-0 text-xl">AGREGAR PRODUCTO</h4>
          </div>
        </div>
        <div class="col-12 md:col-2 no-print">
          <custom-input-text-signal
            [control]="searchControl"
            placeholder="Buscar..."
            (input)="applyFilter()"
            [horizontal]="false"
          />
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th>Imagen</th>
      <th pSortableColumn="producto">
        Descripción
        <p-sorticon field="producto" />
      </th>
      <th>
        Cantidad
        <p-sorticon />
      </th>
      <th>Unidad</th>
      <th class="table-col-5">Agregar</th>
    </tr>
  </ng-template>
  <ng-template #body let-rowItem let-i="rowIndex">
    @if (formArray.controls[i]) {
    <ng-container [formGroup]="formArray.controls[i]">
      <tr>
        <td
          class="table-col-10 pointer"
          (click)="onModalTarjetaProducto(rowItem.productoId)"
        >
          <app-avatar
            [image]="rowItem.urlImagen"
            alt=""
            styleClass="mr-2"
            size="large"
          />
        </td>
        <td
          class="pointer"
          (click)="onModalTarjetaProducto(rowItem.productoId)"
        >
          {{ rowItem.marca }} {{ rowItem.producto }}
        </td>
        <td>
          <custom-input-number-signal
            [control]="formArray.controls[i].controls.cantidad"
            mode="decimal"
            [minFractionDigits]="0"
            [maxFractionDigits]="2"
            [horizontal]="false"
          />
        </td>
        <td>
          <custom-input-select-signal
            [control]="formArray.controls[i].controls.unidadMedidaId"
            [data]="cb_unidadMedida"
            optionLabel="label"
            optionValue="value"
            placeholder="Selecciona una opción"
            customClass="w-full"
            [horizontal]="false"
            [filter]="true"
          />
        </td>
        <td>
          <div class="flex justify-content-center">
            <iw-button
              iconClass="material-symbols-light:save"
              (clicked)="onSubmit(formArray.controls[i])"
            />
          </div>
        </td>
      </tr>
    </ng-container>
    }
  </ng-template>
  <ng-template #paginatorleft>
    <primeng-custom-table-footer [data]="dataSignal()" />
  </ng-template>
</p-table>
}
